* {
    box-sizing: border-box;
}

header {
    background-color: darkseagreen;
    padding: 16px;
    text-align: center;
}

body {
    margin: 0;
    
}

h4 {
    margin: 10px;
}

.time,
.timeISO,
.timeduk {
    background-color: rgb(216, 207, 191);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
}

.USDrate,
.USDdesc,
.USDfloat {    
    background-color: rgb(216, 207, 191);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
}

.GBPrate,
.GBPdesc,
.GBPfloat {    
    background-color: rgb(216, 207, 191);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
}

.EURrate,
.EURdesc,
.EURfloat {
    background-color: rgb(216, 207, 191);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;  
    width: fit-content;  
}

.info {
    margin: 10px;
    font-weight: bold;
    font-style: italic;
}

.wraperTime {
    background-color: darkseagreen;
    height: 35vh;
    width: 25vw;
    border-radius: 10px;
    display: flex;
    margin: 10px;
    flex-direction: column;
    
}

.wraperUSD {
    background-color: darkseagreen;
    position: absolute;
    height: 35vh;
    width: 25vw;
    border-radius: 10px;
    display: flex;
    margin: 10px;
    flex-direction: column;
}

.wraperGBP {
    background-color: darkseagreen;
    height: 35vh;
    width: 25vw;
    border-radius: 10px;
    display: flex;
    margin: 10px;
    flex-direction: column;

}

.wraperEUR {
    background-color: darkseagreen;
    position: absolute;
    height: 35vh;
    width: 25vw;
    border-radius: 10px;
    display: flex;
    margin: 10px;
    flex-direction: column;
}

.main-wraper {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    justify-content: center;
    align-items: center;

}

